@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --conic-holo: conic-gradient(
  #B6D0F7 0%,
  #EEF4E1 15%,
  #FAFCFE 30%,
  #E2C1F9 45%,
  #BFD1F9 58%,
  #FAFCFE 75%,
  #BAE4E2 85%,
  #B6D0F7 100%);
  --linear-holo: linear-gradient(
  to right,
  #B6D0F7 0%,
  #EEF4E1 7.5%,
  #FAFCFE 15%,
  #E2C1F9 22.5%,
  #BFD1F9 29%,
  #FAFCFE 37.5%,
  #BAE4E2 42.5%,
  #B6D0F7 50%,
  #EEF4E1 57.5%,
  #FAFCFE 65%,
  #E2C1F9 72.5%,
  #BFD1F9 79%,
  #FAFCFE 87.5%,
  #BAE4E2 92.5%,
  #B6D0F7 100%
)
}

@theme {
  --color-primary: #009343;
  --color-fast-background: #BAF1A8;
  --color-fast-foreground: #4AC423;
  --color-normal-background: #B2DBFF;
  --color-normal-foreground: #378BF9;
  --color-slow-background: #FFEAB7;
  --color-slow-foreground: #E6A20F;
  --color-bg-from: #FFFEEF;
  --color-bg-to: #E0FFE0;
  --color-level-1: #8ED706;
  --color-level-2: #37DFF9;
  --color-level-3: #6163FF;
  --color-level-4: #FF8C00;
  --color-level-5: #FF0000;
  --color-level-1-dark: #1C613C;
  --color-level-2-dark: #477895;
  --color-level-3-dark: #5456AC;
  --color-level-4-dark: #A26733;
  --color-level-5-dark: #7F2222;
  --color-level-1-light: #D2F0B1;
  --color-level-2-light: #E6FFFA;
  --color-level-3-light: #AAA6FC;
  --color-level-4-light: #FFC88D;
  --color-level-5-light: #F0DBB1;
  --color-background-gray: #EFEFEF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 만렙 스타일 */
@layer utilities {
  @keyframes linear-holo-scroll {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .bg-linear-holo {
    background-image : var(--linear-holo);
    background-size: 200% 100%;
    animation: linear-holo-scroll 20s linear infinite;
  };
  .bg-conic-holo {
    background-image : var(--conic-holo);
  }
  .bg-maxlevel-overlay {
    background-color: #64300C;
    opacity: 0.2;
  }
  .box-shadow-maxlevel {
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.2);
  }
}


/* 애니메이션 */

@keyframes bg-shrink {
  0% {
    height: 100%;
  }

  100% {
    height: 50%;
    transform: scale(1.1);
  }
}

@keyframes text-slide-up {
  0% {
    height: 0%;
  }

  100% {
    height: 50%;
    padding: 16px;
  }
}

@keyframes text-content {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bubble-left {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bubble-right {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dot-bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1px);
  }

  80%, 100% {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes countdown {
  0% {
    background-color: rgba(0, 0, 0, 0.7);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
  }

@keyframes slide-in {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100vw);
  }
}

@keyframes counter {
  0% {
    transform: rotate(-90deg);
  }
  
  100% {
    transform: rotate(270deg);
  }
}

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 


/* --- 커스텀 클래스 --- */


/* 상황 시작 애니메이션 */
.animate-bg-shrink {
  animation: bg-shrink 0.7s ease-out forwards;
}

.animate-text-slide-up {
  animation: text-slide-up 0.7s ease-out forwards;
}

.animate-text-content {
  animation: text-content 0.3s ease-out 0.7s forwards;
}

.animate-bubble-left {
  animation: bubble-left 0.7s ease-out 1.4s forwards;
}

.animate-bubble-right {
  animation: bubble-right 0.7s ease-out 2.1s forwards;
}

.animate-start-button {
  animation: fade-in 0.3s ease-out 2.8s forwards;
}

.dot {
  animation: dot-bounce 0.8s ease-in-out infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}

/* 파형 애니메이션 */

.speaker .wave:nth-child(1) {
  animation: ripple 2s linear infinite;
}

.speaker .wave:nth-child(2) {
  animation: ripple 2s 1s linear infinite;
}

/* 롤링 애니메이션 */

.animate-slide-in {
  animation: slide-in 0.3s ease-in-out forwards;
}

.animate-slide-out {
  animation: slide-out 0.3s ease-in-out forwards;
}

/* 카운터 */

.counter-overlay {
  animation: countdown 5s ease-in-out forwards;
}

.crossline:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 1.5px;
  background: white;
}

.crossline:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1.5px;
  height: 100%;
  background: white;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: auto;
  aspect-ratio: 1 / 1;
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 1;
}

.circle.circle2 {
  width: 45%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-width: 1.5px;
}

.needle {
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  height: 1.5px;
  width: 1200px;
  background: white;
  animation: counter 1s linear infinite;
  transform-origin: left;
}

/* 로딩 애니메이션 */
.loader {
    border: 5px solid #FFF;
    border-bottom-color: var(--color-primary);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }


/* 박스 애니메이션 */
.title-box-inner {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.title-box-inner.open {
  max-height: 700px;
}


